.navLink{
  text-decoration: none;
  text-decoration-color: none;
}
.container {
  display: grid;
  margin-top: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: space-around;
  align-items:center;
  max-width: 100%;
  padding: 0 10px;  
}
  
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    height: 240px;
  }
}

.paginadoContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}