.mainContainer {
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top:0;
  left: 0;
  right: 0;
  background-color: rgb(66, 66, 66);
  height: 15vh;
}

.formBusqueda {
  display: flex;
  align-items: center;
  margin: 0;
}

.formBusqueda input {
  border: none;
  width: 600px;
  height: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 15px;
  transition: .2s;
}

.formBusqueda input:focus {
  transition: .2s;
  transform: scale(1.01);
}

.formBusqueda button {
  border: none;
  width: 100px;
  height: 32.5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.NavLink {
  color: #ececec;
  font-size: x-large;
  text-decoration: none;
  transition: .3s;
}

.NavLink:hover{
  transition: .5s;
  transform: scale(1.2);
}
